* {
    margin: 0;
    padding: 0;
}

.heading {
    padding-top: 6rem;
}

.outer-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container span {
    display: flex;
}

.row1 div {
    width: 120px;
    height: 120px;
    background-color: burlywood;
    border: 3px solid black;
}

.row2 div {
    width: 120px;
    height: 120px;
    background-color: cadetblue;
    border: 3px solid black;
}

.row3 div {
    width: 120px;
    height: 120px;
    background-color: cornflowerblue;
    border: 3px solid black;
}


/* .col11 {
    width: 120px;
    height: 120px;
    background-color: cadetblue;
}

.col12 {
    width: 120px;
    height: 120px;
    background-color: chartreuse;
}

.col13 {
    width: 120px;
    height: 120px;
    background-color: coral;
} */

/* Cross and zeroes */

.box {
    display: grid;
    place-content: center;
}

.box p {
    font-size: 4rem;
}